GSI.BusinessRuleCore/Service References/MobileSystemWorkOrderServices/WorkOrder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WorkOrder" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.88.6:55000/WorkOrder.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.88.6:55000/WorkOrder.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.88.6:55000/WorkOrder.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GSI.MobileSystem.Service.Internal.BusinessEntity" />
      <xsd:import schemaLocation="http://192.168.88.6:55000/WorkOrder.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GSI.MobileSystem.Service.Internal" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWorkOrder_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IWorkOrder_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkOrder_CancelOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelOrder" />
  </wsdl:message>
  <wsdl:message name="IWorkOrder_CancelOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="IWorkOrder">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkOrder/Create" message="tns:IWorkOrder_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkOrder/CreateResponse" message="tns:IWorkOrder_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkOrder/CancelOrder" message="tns:IWorkOrder_CancelOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkOrder/CancelOrderResponse" message="tns:IWorkOrder_CancelOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWorkOrder" type="tns:IWorkOrder">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IWorkOrder/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelOrder">
      <soap:operation soapAction="http://tempuri.org/IWorkOrder/CancelOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WorkOrder">
    <wsdl:port name="BasicHttpBinding_IWorkOrder" binding="tns:BasicHttpBinding_IWorkOrder">
      <soap:address location="http://192.168.88.6:55000/WorkOrder.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>