GSI.BusinessRule/Service References/WCFCoreServiceReference/WCFCoreService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFCoreService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4890/WCFService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4890/WCFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4890/WCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GSI.WCFToCoreSystem" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_UpdateToCoreSystem_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateToCoreSystem" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateToCoreSystem_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateToCoreSystemResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ComplaintResultNotMovable_InputMessage">
    <wsdl:part name="parameters" element="tns:ComplaintResultNotMovable" />
  </wsdl:message>
  <wsdl:message name="IService_ComplaintResultNotMovable_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComplaintResultNotMovableResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ComplaintResultMovable_InputMessage">
    <wsdl:part name="parameters" element="tns:ComplaintResultMovable" />
  </wsdl:message>
  <wsdl:message name="IService_ComplaintResultMovable_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComplaintResultMovableResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetListTrOrderSPLogByOrderIDSurveyPointType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListTrOrderSPLogByOrderIDSurveyPointType" />
  </wsdl:message>
  <wsdl:message name="IService_GetListTrOrderSPLogByOrderIDSurveyPointType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListTrOrderSPLogByOrderIDSurveyPointTypeResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="UpdateToCoreSystem">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateToCoreSystem" message="tns:IService_UpdateToCoreSystem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateToCoreSystemResponse" message="tns:IService_UpdateToCoreSystem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComplaintResultNotMovable">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ComplaintResultNotMovable" message="tns:IService_ComplaintResultNotMovable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ComplaintResultNotMovableResponse" message="tns:IService_ComplaintResultNotMovable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComplaintResultMovable">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ComplaintResultMovable" message="tns:IService_ComplaintResultMovable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ComplaintResultMovableResponse" message="tns:IService_ComplaintResultMovable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListTrOrderSPLogByOrderIDSurveyPointType">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetListTrOrderSPLogByOrderIDSurveyPointType" message="tns:IService_GetListTrOrderSPLogByOrderIDSurveyPointType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetListTrOrderSPLogByOrderIDSurveyPointTypeResponse" message="tns:IService_GetListTrOrderSPLogByOrderIDSurveyPointType_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateToCoreSystem">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateToCoreSystem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComplaintResultNotMovable">
      <soap:operation soapAction="http://tempuri.org/IService/ComplaintResultNotMovable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComplaintResultMovable">
      <soap:operation soapAction="http://tempuri.org/IService/ComplaintResultMovable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListTrOrderSPLogByOrderIDSurveyPointType">
      <soap:operation soapAction="http://tempuri.org/IService/GetListTrOrderSPLogByOrderIDSurveyPointType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFCoreService">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:4890/WCFService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>