GSIWebsiteCore/Service References/UpdateCPResultServiceReference/UpdateCPResultService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UpdateCPResultService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4893/UpdateCPResultService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4893/UpdateCPResultService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4893/UpdateCPResultService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GSI.WCFToCustomerPortal" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUpdateCPResultService_UpdateResultMovableCustomerPortal_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResultMovableCustomerPortal" />
  </wsdl:message>
  <wsdl:message name="IUpdateCPResultService_UpdateResultMovableCustomerPortal_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResultMovableCustomerPortalResponse" />
  </wsdl:message>
  <wsdl:message name="IUpdateCPResultService_UpdateResultNotMovableCustomerPortal_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResultNotMovableCustomerPortal" />
  </wsdl:message>
  <wsdl:message name="IUpdateCPResultService_UpdateResultNotMovableCustomerPortal_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResultNotMovableCustomerPortalResponse" />
  </wsdl:message>
  <wsdl:portType name="IUpdateCPResultService">
    <wsdl:operation name="UpdateResultMovableCustomerPortal">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateCPResultService/UpdateResultMovableCustomerPortal" message="tns:IUpdateCPResultService_UpdateResultMovableCustomerPortal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdateCPResultService/UpdateResultMovableCustomerPortalResponse" message="tns:IUpdateCPResultService_UpdateResultMovableCustomerPortal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateResultNotMovableCustomerPortal">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateCPResultService/UpdateResultNotMovableCustomerPortal" message="tns:IUpdateCPResultService_UpdateResultNotMovableCustomerPortal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdateCPResultService/UpdateResultNotMovableCustomerPortalResponse" message="tns:IUpdateCPResultService_UpdateResultNotMovableCustomerPortal_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUpdateCPResultService" type="tns:IUpdateCPResultService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateResultMovableCustomerPortal">
      <soap:operation soapAction="http://tempuri.org/IUpdateCPResultService/UpdateResultMovableCustomerPortal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateResultNotMovableCustomerPortal">
      <soap:operation soapAction="http://tempuri.org/IUpdateCPResultService/UpdateResultNotMovableCustomerPortal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UpdateCPResultService">
    <wsdl:port name="BasicHttpBinding_IUpdateCPResultService" binding="tns:BasicHttpBinding_IUpdateCPResultService">
      <soap:address location="http://localhost:4893/UpdateCPResultService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>