GSI.BusinessRuleCore/Service References/UpdateCPResultServiceReference/UpdateCPResultService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4893/UpdateCPResultService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GSI.WCFToCustomerPortal" />
  <xs:element name="UpdateResultMovableCustomerPortal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GSI.WCFToCustomerPortal" minOccurs="0" name="_prmWorkOrderMovable" nillable="true" type="q1:TrWorkOrderMovable" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GSI.WCFToCustomerPortal" minOccurs="0" name="_prmResultMovable" nillable="true" type="q2:TrResultMovable" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GSI.WCFToCustomerPortal" minOccurs="0" name="_prmResultPhotoAddtMovable" nillable="true" type="q3:ArrayOfTrResultPhotoAdditionalMovable" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GSI.WCFToCustomerPortal" minOccurs="0" name="_prmResultReqDocMovableList" nillable="true" type="q4:ArrayOfTrResultReqDocMovable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResultMovableCustomerPortalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResultNotMovableCustomerPortal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GSI.WCFToCustomerPortal" minOccurs="0" name="_prmWorkOrderNotMovable" nillable="true" type="q5:TrWorkOrderNotMovable" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GSI.WCFToCustomerPortal" minOccurs="0" name="_prmResultNotMovable" nillable="true" type="q6:TrResultNotMovable" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GSI.WCFToCustomerPortal" minOccurs="0" name="_prmResultPhotoAddtNotMovable" nillable="true" type="q7:ArrayOfTrResultPhotoAdditionalNotMovable" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GSI.WCFToCustomerPortal" minOccurs="0" name="_prmResultReqDocNotMovableList" nillable="true" type="q8:ArrayOfTrResultReqDocNotMovable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResultNotMovableCustomerPortalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>