GSI.WCFTesting/Service References/UpdateCPStatusServiceReference/UpdateCPStatusService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.88.6:51000/UpdateCPStatusService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GSI.Common.Enum" />
  <xs:element name="UpdateStatusCustomerPortal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GSI.Common.Enum" minOccurs="0" name="_prmSPType" type="q1:SurveyPointType" />
        <xs:element minOccurs="0" name="_prmSPID" type="xs:long" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GSI.Common.Enum" minOccurs="0" name="_prmStatus" type="q2:GSIInternalStatus" />
        <xs:element minOccurs="0" name="_prmUserTakeOver" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusCustomerPortalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>